.calendar .body .cell .events-container {
    position: absolute;
    font-size: 82.5%;
    line-height: 1;
    top: .75em;
    left: .75em;
    font-weight: 700;
    text-align: left;
  }

  .calendar .body .cell .events-container .events .event .type {
    width: 20px;
    height: 20px;
  }